{% extends 'base.html' %}

{% block title %}Твої курси{% endblock %}

{% block content %}
    <div class="container my-4">
        <h2>Твої курси</h2>
        <ul class="list-group">
            {% for course in courses %}
                <li class="list-group-item">
                    <h5>{{ course.title }}</h5>
                    <p>{{ course.description }}</p>
                    <a href="{% url 'course_detail1' course.id %}" class="btn btn-primary">Переглянути курс</a>
                </li>
            {% empty %}
                <p>Ви ще не підписані на жоден курс.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
