{% extends 'base.html' %}

{% block title %}Тести для {{ course.title }}{% endblock %}

{% block content %}
    <div class="container my-4">
        <h2>Тести для {{ course.title }}</h2>
        <ul class="list-group">
            {% for test in tests %}
                <li class="list-group-item">
                    <h5>{{ test.title }}</h5>
                    <a href="{% url 'testing:take_test' test.id %}" class="btn btn-primary">Пройти тест</a>
                </li>
            {% empty %}
                <p>Немає доступних тестів для цього курсу.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
